body {
    background-color: aqua;
}
h2 {
    color: black;
    font-size: 2rem;
    font-family: sans-serif;
}
li {
    font-size: 18px;
    font-family: sans-serif;
}

#addbtn {
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(154, 236, 168);
}

#addbtn:hover {
    background-color: rgb(250, 195, 204);
}
/* .remove {
    border-radius: 5px;
    padding: 1px 3px;
    margin: 2px 0px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(154, 236, 168);
}

.remove:hover {
    background-color: rgb(228, 63, 91);
    color: white;
} */